body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

/* SIDEBAR */
#sidebar {
    width: 200px;
    background: #2c2f33;
    color: white;
    padding: 10px;
}

/* SALAS */
.room {
    cursor: pointer;
    padding: 8px;
    margin: 5px 0;
    background: #40444b;
    border-radius: 5px;
}

.room:hover {
    background: #5865f2;
}

/* CHAT */
#chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* MENSAJES */
#messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    list-style: none;
}

/* INPUT */
#inputBox {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input {
    margin-right: 5px;
    padding: 6px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}